@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700");
@import url("https://api.fontshare.com/css?f[]=montserrat@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=source sans pro@400,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.password-changed-password-changed {
  width: 100%;
  display: flex;
  padding-top: 284px;
  padding-right: 616px;
  padding-left: 616px;
  padding-bottom: 284px;
  background-color: rgba(255, 251, 234, 1);
  align-items: center;
}

.password-changed-t-rectangle {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 27px;
  width: 688px;
  flex-direction: column;
}

.password-changed-rectangle {
  display: flex;
  padding-top: 67px;
  padding-left: 58px;
  padding-bottom: 89px;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  align-items: flex-end;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  font-family: Montserrat;
  line-height: normal;
  letter-spacing: 0em;
}

.password-changed-t-bg-ellipse-11lock-icon {
  display: flex;
  position: relative;
  z-index: 0;
  padding-top: 12px;
  padding-right: 11px;
  padding-left: 11px;
  padding-bottom: 11px;
  align-self: stretch;
  align-items: center;
}

.password-changed-bg-ellipse {
  flex-shrink: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  width: 74px;
}

.password-changed-lock-icon {
  flex-shrink: 0;
  z-index: 1;
  height: 51px;
  width: 51px;
  object-position: center;
  object-fit: cover;
}

.password-changed-password-changed-succesfully {
  align-self: stretch;
  padding-top: 25px;
  padding-right: 2px;
  padding-left: 2px;
  font-weight: 700;
  font-size: 40px;
}

.password-changed-para {
  width: 629px;
  padding-top: 5px;
  padding-left: 2px;
  font-weight: 500;
  font-size: 20px;
}

.password-changed-sign-up {
  align-self: stretch;
  padding-top: 2px;
  padding-right: 82px;
  padding-left: 72px;
  padding-bottom: 10px;
  margin-right: 90px;
  margin-left: 2px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: Source Sans Pro;
  color: rgba(255, 255, 255, 1);
}
