:root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-roboto: Roboto;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-smi: 13px;
    --font-size-5xs: 8px;
    --font-size-lg: 18px;
    --font-size-7xl: 26px;
    --font-size-2xl: 21px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
  
    /* Colors */
    --claritywhite: #fff;
    --color-gray-100: #fefefe;
    --color-gray-200: rgba(0, 0, 0, 0.25);
    --color-black: #000;
    --color-dimgray-100: #585858;
    --color-lightgray-100: #d5d5d5;
    --focusyellow: #ffd166;
    --main-element: #005c97;

  }
  