@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700");
@import url("https://api.fontshare.com/css?f[]=montserrat@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=source sans pro@400,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.forget-your-password-forget-your-password {
  width: 100%;
  display: flex;
  padding-top: 322px;
  padding-right: 616px;
  padding-left: 616px;
  padding-bottom: 321px;
  background-color: rgba(255, 251, 234, 1);
  align-items: center;
}

.forget-your-password-rectangle {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding-top: 59px;
  padding-right: 7px;
  padding-left: 30px;
  padding-bottom: 48px;
  width: 688px;
  flex-direction: column;
  row-gap: 13px;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  line-height: normal;
  letter-spacing: 0em;
}

.forget-your-password-forget-your-password-1 {
  padding-right: 45px;
  padding-left: 45px;
  font-weight: 700;
  font-size: 40px;
  font-family: Montserrat;
}

.forget-your-password-t-no-worries-just-enter-your-email-and-we-ll-assist-you-trectangle {
  display: flex;
  padding-left: 45px;
  flex-direction: column;
  font-size: 20px;
}

.forget-your-password-para {
  font-weight: 500;
  font-family: Montserrat;
}

.forget-your-password-t-rectangle {
  flex-shrink: 0;
  display: flex;
  padding-right: 68px;
  margin-top: 30px;
  height: 56px;
  align-items: flex-end;
}

.forget-your-password-rectangle-1 {
  display: flex;
  padding-top: 17px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 17px;
  height: 64px;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  width: 537px;
}

.forget-your-password-email {
  flex-grow: 1;
  font-family: Source Sans Pro;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  outline: none;
  min-width: 0;
}

.forget-your-password-sign-up {
  padding-top: 16px;
  padding-right: 82px;
  padding-left: 72px;
  padding-bottom: 16px;
  margin-top: 23px;
  margin-right: 69px;
  margin-left: 45px;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: Source Sans Pro;
  color: rgba(255, 255, 255, 1);
}

.account-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.no-account {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.sign-up-link {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 168, 150, 1);
  text-decoration: underline;
  cursor: pointer;
}


.forget-your-password-rectangle-1:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.forget-your-password-email:placeholder {
  color: rgba(0, 0, 0, 0.5);
}
